.about {
    color: black;
    margin-top: 200px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.aboutContainer {
    padding: 10px 50px;

    margin: 200px 50px 0px 50px;

   
}

.aboutHeading {
    padding: 10px;

}

.aboutInfo {
    padding: 40px 50px;
    font-size: 19px;
}
